{% extends 'templates/base.html' %}

{% block page_title %}Flask: Home{% endblock %}

{% block page_body %}
    <div class="row grey-text text-lighten-4">
        <div class="col s12">
            <h1>Hello, World!</h1>
            <p>
                Work in progress. Made with Flask and PostgreSQL using PyCharm.
            </p>
            <p class="grey-text text-lighten-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid atque blanditiis consequatur culpa dolorem eaque exercitationem fugiat id ipsam, iure laborum laudantium molestiae necessitatibus nemo omnis porro possimus quasi qui quod repellat reprehenderit saepe sequi sunt tenetur unde veritatis voluptates? Ad alias asperiores corporis cupiditate distinctio dolorem doloremque dolorum est facilis fugit harum, id in labore maxime non obcaecati officia perspiciatis quas quos repellendus reprehenderit saepe sed soluta suscipit totam veniam voluptatum. Accusamus ad atque consectetur eaque eum excepturi ipsum maxime tempore. Dolor eaque, earum facilis, fugiat in natus nemo non, odit officia quas quibusdam suscipit unde voluptatum? Harum!
            </p>
        </div>
    </div>
    <div class="row grey-text text-lighten-4">
        <div class="col s12">
            <h3>Join us!</h3>
            <p>Join us in our journey.</p>
            <a href="/signup" class="btn-small amber darken-4">Signup</a> &nbsp;&nbsp; Or &nbsp;&nbsp; <a href="/login" class="btn-small blue darken-3">Login</a>
        </div>
    </div>
{% endblock %}
