{% extends 'templates/base.html' %}

{% block page_title %}Signup{% endblock %}

{% block page_body %}
    <div class="row grey-text text-lighten-4">
        <div class="col s12 m6 offset-m3">
            <h1>Signup</h1>
        </div>
    </div>
    <div class="row grey-text text-lighten-4">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card signup-card">
                <div class="card-content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi at beatae cumque deserunt dicta doloribus ducimus ea ex expedita explicabo facere, fuga fugiat id illum impedit inventore labore laborum neque numquam porro quibusdam ratione saepe sequi vel vero voluptatem voluptates. Accusamus, asperiores blanditiis, consequatur dignissimos eius facilis fugiat harum impedit ipsam molestias mollitia nihil numquam quisquam sequi ut. Adipisci amet at deleniti dicta, dolor, enim excepturi exercitationem impedit in laborum nam porro ullam voluptatum. Aperiam architecto, asperiores dicta, dolore dolorem, ducimus et ex exercitationem illo itaque laboriosam molestias nobis odit officiis quaerat quis quod rerum sequi suscipit tempore vel vitae?
                </div>
            </div>
        </div>
    </div>
{% endblock %}
